
<!--{% extends "admin/base_site.html" %}-->
<!--{% load static %}-->

<!--{% block content %}-->
<!--  <h1>{{ title }}</h1>-->

<!--  <form method="post" novalidate style="margin-top:20px;">-->
<!--    {% csrf_token %}-->
<!--    <div style="display: flex; align-items: center; gap: 10px;">-->
<!--      <div>-->
<!--        {{ form.from_date.label_tag }}-->
<!--        {{ form.from_date }}-->
<!--      </div>-->
<!--      <div>-->
<!--        {{ form.to_date.label_tag }}-->
<!--        {{ form.to_date }}-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="submit" value="Download Excel" class="default" style="margin-top: 18px;">-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--{% endblock %}-->
